
.text-color{
    color: rgb(255, 255, 255);
    padding-top: 150px;
}
.mgap{
    
    margin-top: 150px;;
}
/* ion-content {
    --background: url('http://www.connecttradenetwork.org/images/about/pic5.jpg');
} */